* {
    box-sizing:content-box;
    background-color: rgb(237, 203, 160);

}

body {
    size: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

::selection {
  color: black;
  background: #f4511e;
}

.start-button {
    font-size: 3.0em;
    height: 40px;
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border: bolder;
    color: darkgreen;
    cursor:grab;
    padding: 20px 52px;
    text-align: justify;
}

. h2 {
    display: flex;
    border-style:solid;
    width: 200px;
    height:40px;
      
}
. timer {
  
    
}
p {
  
    
}

. timer-count {
  width: 200px;
  height:40px;
  display:flex;
    
}

. High scores {

}
. win {

}
. loses {

}
.Questions.activeQuestions,
.Options.activeOptions,
.result.activeResults {
  width: 500px;
  opacity: 1;
  z-index: 5;
  pointer-events: auto;
  transform: translate((50%, -50%)scale(1));
  background:red;
    text-align: center;
    border-inline-style: solid;
    margin: 10px ;
    background: #f4511e;
    border-radius: 8px;
    transition: all 0.3s ease;

}





. reset-button {
    font-size: 3.0em;
    width: 120px;
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border: bolder;
    color: darkgreen;
    cursor:grab;
    padding: 20px 52px;
    text-align: justify;
}
.button {
  font-size: 3.0em;
    height: 40px;
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border: bolder;
    color: darkgreen;
    cursor:grab;
    padding: 20px 52px;
    text-align: justify;
  }
  
 